@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
body {
  font-family: 'Bebas Neue', sans-serif;
  margin: 0;
}


  .btn-theme {
      background-color: #b32d3d;
      color: #fff;
      font-weight: 600 !important;
  }

  .btn-theme:hover {
      color: #fff;
      background-color: black;
      font-weight: 600 !important;
  }
